html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333a4a;
}

body {
  margin: 0;
  background-color: #f5f6f1;
}

.main {
  padding: 0 24px;
}

.section {
  height: 250px;
  margin: 24px 0;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #ced2ed;
  border-radius: 12px;
}

.section__title {
  position: sticky;
  top: 10px;
  margin: 0 0 16px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
}

h1 {
  text-shadow: 2px 2px 4px #000000;
}