body {
  margin: 0;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.nav__link:link {
  color: black;
}

.nav__link:visited {
  color: purple;
}

.nav__link:hover {
  color: green;
}

.nav__link:active {
  color: blue;
}

.section:target {
  background-color: lightsalmon;
}

.section:not(:last-child)::after {
  height: 4px;
  border-radius: rounded;
}

